@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  padding: 22px 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #000;
  font-family: "Inter", sans-serif;
}

.logo {
  color: white;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -1px;
}

.logo::after {
  content: ".";
  color: #f5c518;
}


.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 28px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.menu li a:hover {
  color: #f5c518;
}

.register-btn a {
  background: transparent;
  border: 1px solid white;
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 12px;
}

.register-btn a:hover {
  background: white;
  color: black;
}
